//Font
@font-face {
  font-family: "HankenGrotesk";
  src: url("./assets/fonts/HankenGrotesk-VariableFont_wght.ttf");
}
//Colors
//Summary Colors
$light-red: hsl(0, 100%, 67%);
$orangey-yellow: hsl(39, 100%, 56%);
$green-teal: hsl(166, 100%, 37%);
$cobalt-blue: hsl(234, 85%, 45%);
$light-red-bg: hsla(0, 100%, 67%, 10%);
$orangey-yellow-bg: hsla(39, 100%, 56%, 12%);
$green-teal-bg: hsla(166, 100%, 37%, 12%);
$cobalt-blue-bg: hsla(234, 85%, 45%, 10%);
//Result Colors
$gr-light-slate-blue: hsl(252, 100%, 67%);
$gr-light-royal-blue: hsl(241, 81%, 54%);
//Result Circle Colores
$crcl-violet-blue: hsla(256, 72%, 46%, 1);
$crcl-persian-blue: hsla(241, 72%, 46%, 0);
//Button Colors
$btn-dark-gray-blue: hsl(224, 30%, 27%);
//Text Colors
$txt-light-lavender: hsl(241, 100%, 89%);
$text-light-grey: #979098;

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  font-family: "HankenGrotesk", Helvetica, Arial, sans-serif;
  margin: 0;
}

.component-container {
  display: flex;
  flex-direction: column;
}

.result-container {
  background-image: linear-gradient($gr-light-slate-blue, $gr-light-royal-blue);
  color: $txt-light-lavender;
  border-radius: 0 0 10% 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2,
  h3,
  p {
    text-align: center;
  }

  h3 {
    font-size: 2.5vh;
    padding: 1vh;
  }

  > h2 {
    color: white;
    margin: 0;
    padding-top: 3vh;
    padding-bottom: 1vh;
    font-size: 3.2vh;
  }

  > p {
    font-size: 2vh;
    width: 65%;
    padding-bottom: 4vh;
    margin: 0;
  }
}

.circle {
  border-radius: 50%;
  background-image: linear-gradient($crcl-violet-blue, $crcl-persian-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 16vh;
  padding: 3vh 0 3vh 0;
  h2 {
    color: white;
    font-size: 6vh;
    margin: 0;
    padding-top: 1vh;
    transform: translateY(-15%);
  }
  p {
    color: hsla(241, 100%, 89%, 0.5);
    margin: 0;
    transform: translateY(-90%);
    font-size: 2vh;
  }
}

.summary-container {
  display: flex;
  flex-direction: column;

  > h3 {
    font-size: 2.2vh;
  }
  padding: 0 8% 0 8%;
}

.summary-item {
  display: flex;
  justify-content: space-between;
  border-radius: 3% / 20%;
  width: 100%;
  margin-bottom: 1.5vh;
  font-weight: 530;

  img {
    position: absolute;
    left: 12%;
  }

  .item-title {
    margin: 0;
    padding: 2vh 0 2vh 15%;
  }

  .item-points {
    color: $text-light-grey;
    font-weight: bold;
    padding: 2vh 5% 2vh 0;
    margin: 0;
    span {
      color: black;
    }
  }
}

@mixin item-boxes($background: $light-red-bg, $textcolor: $light-red) {
  background-color: $background;
  color: $textcolor;
  .item-title {
    color: $textcolor;
  }
}

.reaction {
  @include item-boxes;
}

.memory {
  @include item-boxes(
    $background: $orangey-yellow-bg 30%,
    $textcolor: $orangey-yellow
  );
}

.verbal {
  @include item-boxes($background: $green-teal-bg, $textcolor: $green-teal);
}

.visual {
  @include item-boxes($background: $cobalt-blue-bg, $textcolor: $cobalt-blue);
}

.continue-button {
  background-color: $btn-dark-gray-blue;
  border: none;
  border-radius: 8% / 50%;
  padding: 2vh 0 2vh 0;
  margin-top: 1.5vh;
  color: white;
  font-size: 2.5vh;

  &:hover {
    cursor: pointer;
    background-image: linear-gradient(
      $gr-light-slate-blue,
      $gr-light-royal-blue
    );
  }
}

footer {
  margin: 0;
}

// Desktop Design
@media (min-width: 1000px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .component-container {
    width: 50%;
    flex-direction: row;
    margin-top: 25vh;
    border-radius: 8% 5% 5% 8%;
    box-shadow: 5px 8px 12px 2px #246db110;
  }

  .result-container {
    border-radius: 8% 8% 8% 8%;
    width: 55%;

    > h3 {
      font-size: 2.3vh;
    }

    > p {
      font-size: 1.6vh;
      font-weight: 500;
      padding-bottom: 2vh;
    }
  }

  .circle {
    width: 18.5vh;
    h2 {
      font-size: 7vh;
      transform: translateY(-5%);
    }
    p {
      font-size: 1.7vh;
      transform: translateY(-60%);
    }
  }

  .summary-container {
    width: 45%;
    border-radius: 0 5% 5% 0;
    padding: 0 5% 0 5%;
  }

  .summary-item {
    position: relative;
    border-radius: 4% / 30%;
    margin-bottom: 1.5vh;

    img {
      position: absolute;
      left: 8%;
    }

    .item-title {
      padding: 1.6vh 0 1.6vh 20%;
    }

    .item-points {
      padding: 1.6vh 5% 1.6vh 0;
    }
  }

  .continue-button {
    border-radius: 8% / 50%;
    padding: 1.8vh 0 1.8vh 0;
    margin-top: 2.7vh;
    margin-bottom: 3vh;
    font-size: 90%;
  }
}
